<div class="main-content" id="maincontent">
    <div class="content">
     <form [formGroup]="ChargeMasterFormGroup" autocomplete="off">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Charge Master</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row boxhead">
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">

                        <div class="form-group input-group" [ngClass]="displayFieldCss('ChargeTypeCode')">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                                Charge Code:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input required name="ChargeType code" class="col-sm-12 col-md-12 col-xs-12" formControlName="ChargeTypeCode"
                                placeholder="ChargeType Code" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="form-group input-group" [ngClass]="displayFieldCss('ChargeTypeName')">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                                Charge Name:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <input required name="ChargeType name" class="col-sm-12 col-md-12 col-xs-12" formControlName="ChargeTypeName"
                                placeholder="ChargeType Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <div class="form-group input-group" [ngClass]="displayFieldCss('ChargeTypeDesc')">
                            <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                                Description:
                            </label>
                            <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                                <textarea required name="chargeTypeDesc" class="col-sm-12 col-md-12 col-xs-12" formControlName="ChargeTypeDesc" placeholder="Settlement Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <label class="col-md-9 col-sm-12 col-xs-12 no-padding">
                            <input name="chargeMaster active" formControlName="IsActive" value="" type="checkbox">
                            <span class="col-md-4 col-sm-4 col-xs-4 no-padding"> Active</span>
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                        <label class="col-md-9 col-sm-12 col-xs-12 no-padding">
                            <input name="chargeMaster default" formControlName="IsDefault" value="" type="checkbox">
                            <span class="col-md-4 col-sm-4 col-xs-4 no-padding"> Default</span>
                        </label>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" col-md-12 pull-right">
                            <!-- <input type="button" class=" AddbtnCSS btn btn-success pull-right mr-1" style="padding:0 8px; margin-top: 5px; display:inline-block; " id="btnsaveholiday" value="Save">
                            <input type="button" class=" AddbtnCSS btn btn-success pull-right  mr-1" style=" margin-top: 5px; padding:0 8px" id="BtnReset" value="Reset"> -->
                            <button style="width: fit-content;" type="submit" (click)="onSubmit()" class="btn btn-primary btn-block mr-1"> Save</button>
                            <button [disabled]="buttonDisabledReset" style="width: fit-content;" type="submit" (click)="ResetChargeMaster();" class="btn btn-primary btn-block mr-1"> Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv">
            <table>
                <thead>
                    <tr>
                        <!-- <th>Sr No.</th> -->
                        <th>Charge Code</th>
                        <th>Charge Name</th>
                        <th>Charge Description</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Updated by</th>
                        <th>Updated on</th>
                        <th>Active</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of chargeMaster.dataList ; index as i" (dblclick)="onRowClicked(data)" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                        <!--<tr *ngFor="let data of holiday.dataList ; index as i" >-->
                        <td style="display: none;">{{data.ChargeTypeId }}</td>
                        <td>{{data.ChargeTypeCode }}</td>
                        <td>{{data.ChargeTypeName }}</td>
                        <td>{{data.ChargeTypeDesc }}</td>
                        


                        <td>{{data.CreatedBy }}</td>
                        <td>{{data.CreatedOn }}</td>
                        <td>{{data.UpdatedBy }}</td>
                        <td>{{data.UpdatedOn }}</td>
                        <td>{{data.IsActive }}</td>
                        <td>{{data.IsDefault }}</td>
                        
                    </tr>
                </tbody>

            </table>

        </div>
    </form>
    </div>
</div>



