<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Processed Mandates</span>
            </div>

        </div>
        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="row pl-3 pt-2 ">
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">

                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding">
                            From Date:
                        </label>
                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                            <input type="date" class="col-sm-12 col-md-12 col-xs-12" />
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                            To Date:
                        </label>
                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                            <input type="date" class="col-sm-12 col-md-12 col-xs-12" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-xs-4 control-label no-padding" for="form-field-2">
                            Bank:
                        </label>
                        <div class="col-sm-7 col-md-7 col-xs-7 no-padding txtField">
                            <select class="dropdown col-sm-12 col-md-12 col-xs-">
                                <option>Select</option>
                                <option>Bank 1</option>
                                <option>Bank 2</option>
                                <option>Bank 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
            <div class="row pl-3">

                <div class="col-md-2 col-sm-2 col-xs-2 no-padding">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                        <label class="tblHeading">
                            Mandate File Details:
                        </label>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10 no-padding filterBox">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-xs-12">

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
                            <div class="form-group" style="margin-top:20px!important;">
                                <label class="col-sm-3 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                                    Corporate:
                                </label>
                                <div class="col-sm-9 col-md-9 col-xs-9 no-padding txtField">
                                    <select class="dropdown col-sm-11 col-md-11 col-xs-11">
                                        <option>Select</option>
                                        <option>Corporate 1</option>
                                        <option>Corporate 2</option>
                                        <option>Corporate 3</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
                            <div class="form-group" style="margin-top:20px!important;">
                                <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                                    Reference No.:
                                </label>
                                <div class="col-sm-8 col-md-8 col-xs-9 no-padding txtField">

                                    <input type="text" class="col-sm-11 col-md-11 col-xs-11" />

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
                            <div class="form-group" style="margin-top:20px!important;">
                                <label class="col-sm-3 col-md-4 col-xs-3 control-label no-padding" for="form-field-1">
                                    Activity ID:
                                </label>
                                <div class="col-sm-8 col-md-8 col-xs-9 no-padding txtField">

                                    <input type="text" class="col-sm-11 col-md-11 col-xs-11" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 no-padding">
                            <input type="button" class="addbtnCSS btn btn-success" value="Search">
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding" id="tbldiv">
                <table>
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Contact No.</th>
                            <th>Email ID</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Updated by</th>
                            <th>Updated on</th>
                            <th>Active</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>EMP001</td>
                            <td>John</td>
                            <td>9876543210</td>
                            <td>john@gmail.com</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>EMP002</td>
                            <td>John</td>
                            <td>9876543210</td>
                            <td>john@gmail.com</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>EMP003</td>
                            <td>John</td>
                            <td>9876543210</td>
                            <td>john@gmail.com</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>John</td>
                            <td>25 Dec 2019</td>
                            <td>Active</td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
        
    </div>
</div>


